
.wishes{
  /* position:absolute;
  top: 0rem;  */
  text-align: center;
  background-color: gray;
  width: 50%;
  line-height: 1.5;
  color:white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
} 


#carouselExampleCaptions{
  position: relative;
  left:auto;
  right: auto;
  width: 70%;

}

#carouselExampleCaptions1{
  width: 70%;
  position:relative;
  left:10rem;
}

.d-block{
  align-items: center;
  width:40rem;
  height:20rem;
}
